<div class="grid-container" >
  <div class="landing-page-tile-wrapper grid-x grid-margin-x grid-padding-x" >
    
    <div class="landing-page-tile cell small-11 medium-6" >
      <ul>
        <li class="horizons-body-font" > New Character </li>
        <li>
          <%= link_to "Character Roster", characters_path, class: "horizons-body-font" %>
        </li>
        <li class="horizons-body-font" > Links </li>
      </ul>
    </div>

    <div class="landing-page-tile cell small-11 medium-6" >
      <h3 class="horizons-title-font" > About Horizons </h3>
      <p class="horizons-body-font" > A TRPG system where players use different dice to represent the the strengths and weaknesses of their characters, and gamble with resources to push their limits. </p>
    </div>

  </div>
</div>