<div class="links-header" >
  <h2 class="horizons-title-font" > Horizons Resources </h2>
  <p class="horizons-body-font" > Hey! Thanks for checking out my game. Here you’ll find a directory for everything you need to learn the game and make a character. Everything you see here is somewhere between first and third draft with various amounts of editing, so apologies for any mangled passages or game term inconsistencies I might have missed. </p>
  <hr class="row-splitter"/>
</div>
<div class="links-wrapper">
  <a target="_blank" href="https://docs.google.com/document/d/1wMJ-qUwdKuZJq9sjegVUSm_YExcMCi5dpwDV3Ga_4J8/edit?usp=sharing" >
    <h4 class="horizons-body-font" > Core Rules </h4>
  </a>
  <p class="horizons-body-font" > A brief rundown of the game, the rhythm of play, some of the core mechanics, and the rolling system used to determine outcomes. </p>

  <a target="_blank" href="https://docs.google.com/document/u/0/d/1fdw7dRrDH2HetzIZl8vwdWKNXup4vaGNBBJNI1-hDe0/edit" >
    <h4 class="horizons-body-font" > Making a Character </h4>
  </a>
  <p class="horizons-body-font"> For those who prefer working with pen and paper, here's a rundown of how to make a character to play in Horizons. The guide walks you through step by step, but you’re encouraged to poke around and see what’s on offer before settling on what you want. This document also includes some lists of pre-made items for use, a list of game conditions you might encounter, and some rules about initiative and travel. </p>

  <a target="_blank" href="https://drive.google.com/file/d/15gPFO0cNLdHFsL2Sf_w6EyHBoCfrLXOR/view?usp=sharing" >
    <h4 class="horizons-body-font" > Character Sheet (Pen and Paper) </h4>
  </a>
  <p class="horizons-body-font"> The current draft of the Horizons character sheet. Unfortunately, I haven’t been able to make it form-fillable just yet, so print is the only option for now. </p>

  <a target="_blank" href="https://docs.google.com/document/d/1DH479ONrFnbatWeCAG18dj1WNGPte7HKkcIlgHzDGCw/edit?usp=sharing" >
    <h4 class="horizons-body-font" > Initiative Reference Sheet </h4>
  </a>
  <p class="horizons-body-font"> A reference for some of the basic actions players have access to while in initiative. </p>

  <a target="_blank" href="https://docs.google.com/document/d/1gBYONoeAo_VyT4yz4whx1SrmMfC3OzHFq7ne7wFNcfc/edit?usp=sharing" >
    <h4 class="horizons-body-font" > Campaign Setting Guide </h4>
  </a>
  <p class="horizons-body-font"> A brief rundown of the test campaign setting. This version contains only information that player characters would reasonably know offhand, with some background information thrown in for meta knowledge. I have a larger personal version for myself with details about various locations and factions. </p>

</div>