/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.devise-user-tile {
  /* margin-left: 10%;
  margin-right: 10%; */
  margin: auto;
}

.page-header-text {
    text-align: center;
    margin-top: 1.5em;
}

.horizons-title-font {
    font-family: 'AveriaRegular';
    font-weight: normal;
    font-style: normal;
}

.horizons-body-font {
    font-family: 'SortsMillGoudyTTRegular';
    font-weight: normal;
    font-style: normal;
}

.top-bar-text {
    color: #f6f8eb;
}

.landing-page-tile {
    border: 1px #c4cea5 solid;
    border-radius: 5px;
    margin-top: 1.5em;
}

.landing-page-tile-wrapper {
    margin-left: auto;
    margin-right: auto;
}