/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */



.top-bar-title {
    margin-top: 0.5em;
    margin-left: 15px;
    margin-bottom: auto;
}

.top-bar-icon {
    color: #f6f8eb;
    font-size: 1.5em;
    margin-top: 0.75em;
}

.top-bar-icon:hover {
    color: #f6f8ebce;
    font-size: 1.5em;
}

.top-bar-section {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1em;
}

.devise-user-tile {
  margin-left: 10%;
  margin-right: 10%;
  margin: auto;
}

.page-header-text {
    text-align: center;
    margin-top: 1.5em;
    font-family: 'NowRegular';
    font-weight: normal;
    font-style: normal;
}

.horizons-title-font {
    font-family: 'SortsMillGoudyTTRegular';
    font-weight: normal;
    font-style: normal;
}

.horizons-body-font {
    font-family: 'NowRegular';
    font-weight: normal;
    font-style: normal;
}

.top-bar-text {
    color: #f6f8eb;
}

.landing-page-alert,
.landing-page-tile {
    border: 1px #000000 solid;
    border-radius: 5px;
    margin-top: 1.5em;
    padding: 10px;
}

.landing-page-section {
    max-width: 50em;
    margin: auto;
    margin-top: 1.5em;
}

.landing-page-alert {
    background-color: #bcc8b3;
    margin-left: auto;
    margin-right: auto;
}

.grey {
    background-color: #808080;
}

.landing-page-tile-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

.health-box {
    background-color: #deada6;
}

.vitality-box {
    background-color: #e8cc92;
}

.stress-box {
    background-color: #b3b7c5;
}

.rest-pool-box {
    background-color: #bcc8b3;
}

.trait-die-box {
    margin: auto
}

.character-card-image {
    object-fit:cover;
    object-position: 50% 2.5%;
    width: 100%;
    height: 17.5em;
    border-radius: 5%;
    margin-bottom: 1em;
    z-index: 1;
}

.character-sheet-image {
    object-fit:cover;
    object-position: 50% 2.5%;
    width: 100%;
    height: 24em;
    border-radius: 5%;
    margin-bottom: 1em;
    z-index: 1;
}

.character-card-image-wrapper {
    text-align: center;
    margin: auto;
}

.character-card-text-wrapper {
    margin-top: auto;
    margin-bottom: auto;
    color: black;
}

.card-header {
    font-size: 1.5em;
}

.bold {
    font-weight: 700;
}

.subtitle {
    font-style: italic;
    margin-top: -0.5em;
    margin-bottom: 1em;
}

.level-badge {
    color: #000000;
    text-align: center;
    font-size: 1.75em;
    background-color: #f5f5f5;
    border: solid #000000 2px;
    border-radius: 50%;
    width: 1.75em;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: -1.5em;
    z-index: 2;
}

.character-card-wrapper {
    background-color: #f5f5f5;
}

.character-card-wrapper:hover {
    filter: drop-shadow(2px 3px 1px #2d3b21);
}

.warning-text {
    text-align: center;
    color: #00000093;
    font-style: italic;
    font-size: 1.75em;
    margin-top: 1em;
    margin: auto;
}

.button {
    border-radius: 5px;
    margin: auto;
}

.roster-header {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 1.5em;
    text-align: center;
}

.large-icon {
    font-size: 2.5em;
}

.buffer {
    margin-left: 2em;
    margin-right: 2em;
}

.landing-page-link-wrapper {
    text-align: center;
    margin: auto;
    color: #6c8f4f;
}

.landing-page-link {
    font-size: 1.5em;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.landing-page-link:hover{
    background-color: #c9d9bc22;
    color: #6c8f4f;
}

.char-sheet-element {
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.unexpanded:hover {
    filter: drop-shadow(2px 3px 0px #2d3b21);
    background-color: #f5f5f5;
}

.char-sheet-text {
    font-size: 1.25em;
}

.growth-text {
    font-size: 0.9em;
    text-align: left;
}

.growth-reminder-text {
    border: solid 1px #6c8f4f;
    border-radius: 5px;
    background-color: #bcc8b3bc;
    padding: 0.25em;
    text-align: left;
    font-style: italic;
    margin-top: 0.75em;
    margin-bottom: 0.25em;
}

.leveling-section {
    border-radius: 5px;
    margin-top: -1.5em;
    margin-bottom: 0.5em;
}

.growth-section {
    margin-bottom: -0.25em;
}

.about-section {
    border: solid 1px #000000;
    border-radius: 5px;
    height: 11.8em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding: 0.5em;
}

.selection-section {
    border: solid 1px #000000;
    border-radius: 5px;
    height: 30em;
    width: 110%;
    margin-left: -5%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
}

.taller {
    height: 35em;
}

hr {
    margin-top: 0em;
    margin-bottom: 0.25em;
}

.about-body {
    height: 80%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.selection-body{
    height: 87.5%;
    width: 102%;
    overflow-x: hidden;
    overflow-y: auto;
}

.more-space {
    height: 89.5%;
}

.growth-options-div {
    height: 7em;
    width: 110%;
    margin-left: -2.5%;
    overflow-x: hidden;
    overflow-y: auto;
}

.edit-toggle {
    color: #6c8f4f;
}

.edit-toggle:hover {
    color: #6c8f4fbe;
    background-color: #c9d9bc93;
    border-radius: 5px;
}

.about-title-text {
    margin-top: 0.25em;
}

.about-header {
    margin-bottom: -0.5em;
}

.thin-button {
    height: 1.5em;
    margin-bottom: 1em;
    border: none;
    background-color: #00000000;
    color: #6c8f4f;
}

.thin-button:hover {
    color: #6c8f4fbe;
    background-color: #c9d9bc93;
    border-radius: 5px;
}

.character-sheet-image-editing {
    width: 100%;
    height: 24em;
    background-color: #f5f5f5;
    border-radius: 5%;
    margin-bottom: 1em;
    vertical-align: middle;
}

.character-sheet-image:hover {
    border: 2px #6c8f4f solid;
}

.resource-icon {
    font-size: 0.75em;
}

.resource-box {
    margin-bottom: 0.75em;
}

.rounded {
    margin: 0em;
    border-radius: 5px;
}

.resource-box-title {
    margin-top: 0.75em;
}

.resource-arrow:hover {
    width: 2em;
    background-color: #ffffffa5;
    border-radius: 5px;
}

.full-heart {
    color: #bb4633;
}

.cracked-heart {
    color: #bb7a70;
}

.trait-die-title-bar {
    font-size: 1.5em;
    padding-right: 0.5em;
    letter-spacing: 0.05em;
}

.trait-die-badge {
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #f5f5f5;
    font-size: 1.5em;
}

.reason {
    padding-right: 0.75em;
}

.motor,
.social {
    letter-spacing: 0.02em;
    font-size: 1.475em;
}

.trait-icon {
    font-size: 1.5em;
}

.trait-die-unit {
    margin-bottom: 0.25em;
}

.landing-page-splash {
    height: 25em;
    width: 100%;
    object-fit: cover;
    object-position: 50% 30%;
    margin: 0%;
}

.splash-text {
    background-color: #f8f8f846;
    filter: drop-shadow(0px 0px 3px #f5f5f530);
    width: 100%;
    color: #141414;
    font-weight: 700;
    font-size: 4em;
    text-align: center;
    letter-spacing: 0.15em;
}

.centered {
    position:absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    position: relative;
    text-align: center;
  }

.flash {
    margin-bottom: 0em;
}

.trait-dice-section {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10px;
}

.reaction-die-badge {
    border: 2px solid #2d3b21;
    border-radius: 5px;
    background-color: #f5f5f5;
    font-size: 1.5em;
    width: 50%;
    margin: auto;
    margin-bottom: 0.3em;
}

.aspect-die-unit {
    border: solid #000000 2px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.aspect-die-title-bar {
    text-align: right;
    font-size: 1.2em;
    border-right: #000000 1px solid;
    padding-right: 5%;
    font-size: 1.45em;
}

.aspect-die-badge {
    text-align: center;
    font-size: 1.45em;

}

.odd-one {
    background-color: #fbfbfb;
}

.odd-two {
    background-color: #ffffff;
}

.even-one {
    background-color: #6c8f4f46;
}

.even-two {
    background-color: #7d936b46;
}

.reaction-die-section {
    background-color: #6c8f4f46;
    border-radius: 5px;
}

.reaction-die-unit {
    width: 100%;
}

.unexpanded-dice-section {
    margin-left: auto;
    margin-right: auto;
}

.about-section-mini {
    border: solid 1px #000000;
    border-radius: 5px;
    /* width: 50%; */
    margin-bottom: 0.25em;
    padding: 0.5em;
}

.reminder-text {
    color: #000000e0;
}

.row-splitter,
.ability-row {
    margin-bottom: 10px;
}

.Misfortune,
.Reaction {
    background-color: #a173c6bf;
}

.Anxiety,
.Half {
    background-color: #ddac49bf;
}

.Full {
    background-color: #e9981fbf;
}

.Passion,
.Passive {
    background-color: #bb4633bf;
}

.Free,
.Downtime {
    background-color: #7386c6bf;
}

.skill-card-title-line {
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    font-size: 1.15em;
}

.skill-card-action-line {
    border-radius: 0px 5px 0px 0px;
    font-size: 1.1em;
}

.skill-card-action-line,
.skill-card-title-line {
    height: 2em;
    padding: 10px;
}

.skill-card-border {
    border: #000000 1px solid;
    border-radius: 5px;
    margin-bottom: 15px;
}

.culture-card-header,
.selection-section-header,
.card-section-header {
    padding-top: 10px;
    font-size: 1.5em;
    text-align: center;
}

.expandable {
    font-size: 1.25em;
    background-color: #f5f5f5;
}

.expandable:hover {
    filter: drop-shadow(2px 3px 0px #2d3b21);
}

.expandable:hover,
.card-section-header:hover {
    background-color: #e2e7de;
    border-radius: 5px;
}

.card-text-section {
    padding: 10px;
}

.trigger-box {
    padding: 10px;
    background-color: #dfdfdf;
    border-radius: 5px;
}

.flavor-box {
    padding: 10px;
    border-radius: 5px;
    background-color: #9ab9817b;
    margin-bottom: 5px;
}

.push,
.page-footer {
    height: 50px;
  }

.page-footer {
  display: block;
  background-color: #6c8f4f;
  color: #f5f5f5;
  padding: 0.75em;
}

  html, body {
    height: 100%;
    margin: 0;
  }

.bottom-link {
    color: #f5f5f5;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

.character-form-header {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.character-form-body {
    margin-top: 25px;
    margin-left: 10%;
    margin-right: 10%
}

.form-section {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%
}

.center-me {
    margin: auto;
    max-width: 30em;
}

.name-input {
    font-size: 1.5em;
    margin-bottom: 0em;
}

.navigation-arrows {
    margin-bottom: 3em;
}

.nav-arrow-text {
    font-size: 1.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.nav-arrow {
    font-size: 0.85em;
}

.error-bar {
    border-radius: 5px;
    background-color: #b8655844;
    margin-left: 1em;
    margin-right: 1em;
}

.culture-card,
.role-card {
    margin-bottom: 1em;
}

.knack-card {
    width: 100%;
    margin: auto;
}

.role-feature-header {
    margin-top: 2em;
    margin-bottom: 0.75em;
}

.growth-list {
    list-style-type:none;
    text-align: center;
    font-weight: 600;
    font-size: 1.1em;
}

.selected-option {
    background-color: #c4cea5;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}

.important-button {
    font-size: 1.2em;
}

.role-addendum-box {
    max-width: 30em;
    font-size: 1.1em;
    margin:auto;
    border: solid #000000 1px;
    border-radius: 5px;
    background-color: #c4cea544;
    margin-bottom: 2em;
    padding-top: 0.75em;
}

.bottom-element {
    margin-bottom: 2em;
    margin-top: 0.5em;
}

.select-button {
    margin-bottom: 0.5em;
    text-align: center;
}

.skill-select-button {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.die-label {
    font-weight: 600;
    font-size: 1em;
}

.dice-array {
    font-weight: 600;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.final-button {
    background-color: #ddac49;
    min-width: 20em;
}

.die-form-section {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.aspect-bonus-wrapper {
    max-width: 30em;
    margin: auto;
}

.links-wrapper {
    margin: auto;
    max-width: 30em;
    margin-bottom: 3em;
}

.links-header {
    padding-top: 2em;
    margin: auto;
    max-width: 40em;
    margin-bottom: 2em;
}

.campaign-section-header {
    text-align: left;
    margin-left: 1.5em;
}

.campaign-section-header-text {
    margin-left: 0.75em;
}